.comforta{
font-family: 'Comfortaa', cursive;
}
.dancing{
font-family: 'Dancing Script', cursive;
}	
.new-tegamon{
font-family: 'New Tegomin', serif;
}	
.zen-dots{
font-family: 'Zen Dots', cursive;
}	
.montserrat{
	font-family: 'Montserrat', sans-serif;
}
.no-select{
	user-select: none;
}	